html, body {
  margin: 5px 5px 10px 5px;
  font-family: Play;
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 50px;
}
.container {
display: grid;
grid-template-columns: 48vw 48vw;
grid-template-rows: 48vw 48vw 48vw 48vw;
grid-gap: 2px;
}
.black {
background-color: #000;
}
.white {
background-color: #fff;
}
img {
  position:absolute;
  top:25%;
  left:65%;
  margin-top:-25px;
  margin-left:-25px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.item {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.whiteText {
  color: #fff;
}
#hi {
  text-align: center;
  margin-bottom: 500px;
}
#Mirza {
  align-items: center; 
  padding-top: 300px;
}